In [1]:
import pandas as pd

df = pd.read_csv('/Users/apple/Documents/GitHub/Data_Science_Airbnb/airbnb_datasets/clean_tabular_data.csv')

In [2]:
df

,ID,Category,Title,Description,Amenities,Location,guests,beds,bathrooms,Price_Night,Cleanliness_rating,Accuracy_rating,Communication_rating,Location_rating,Check-in_rating,Value_rating,amenities_count,url,bedrooms
0,f9dcbd09-32ac-41d9-a0b1-fdb2793378cf,Treehouses,Red Kite Tree Tent - Ynys Affalon,Escape to one of these two fabulous Tree Tents...,"['What this place offers', 'Bathroom', 'Shampo...",Llandrindod Wells United Kingdom,2,1.0,1.0,105,4.6,4.7,4.3,5.0,4.3,4.3,13.0,https://www.airbnb.co.uk/rooms/26620994?adults...,1
1,1b4736a7-e73e-45bc-a9b5-d3e7fcf652fd,Treehouses,Az Alom Cabin - Treehouse Tree to Nature Cabin,Come and spend a romantic stay with a couple o...,"['What this place offers', 'Bedroom and laundr...",Guyonvelle Grand Est France,3,3.0,0.0,92,4.3,4.7,4.6,4.9,4.7,4.5,8.0,https://www.airbnb.co.uk/rooms/27055498?adults...,1
2,d577bc30-2222-4bef-a35e-a9825642aec4,Treehouses,Cabane Entre Les Pins\nüå≤üèïÔ∏èüå≤,"Rustic cabin between the pines, 3 meters high ...","['What this place offers', 'Scenic views', 'Ga...",Duclair Normandie France,4,2.0,1.5,52,4.2,4.6,4.8,4.8,4.8,4.7,51.0,https://www.airbnb.co.uk/rooms/51427108?adults...,1
3,ca9cbfd4-7798-4e8d-8c17-d5a64fba0abc,Treehouses,Tree Top Cabin with log burner & private hot tub,The Tree top cabin is situated in our peaceful...,"['What this place offers', 'Bathroom', 'Hot wa...",Barmouth Wales United Kingdom,2,1.0,1.0,132,4.8,4.9,4.9,4.9,5.0,4.6,23.0,https://www.airbnb.co.uk/rooms/49543851?adults...,1
4,cfe479b9-c8f8-44af-9bc6-46ede9f14bb5,Treehouses,Treehouse near Paris Disney,"Charming cabin nestled in the leaves, real unu...","['What this place offers', 'Bathroom', 'Hair d...",Le Plessis-Feu-Aussoux √éle-de-France France,4,3.0,1.0,143,5.0,4.9,5.0,4.7,5.0,4.7,32.0,https://www.airbnb.co.uk/rooms/935398?adults=1...,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
825,cfbc88da-e88c-415a-b397-108d0948c4ba,Beachfront,Lancing Beach Apartment,"An apartment directly on the beach at Lancing,...","['What this place offers', 'Bathroom', 'Hair d...",Lancing United Kingdom,4,2.0,1.5,240,4.9,5.0,5.0,5.0,4.9,4.8,33.0,https://www.airbnb.co.uk/rooms/12680472?adults...,2
826,4fea5054-f999-4c07-addc-67e4d893deab,Beachfront,Apartment,Light roomy space with outside garden 5 minute...,"['What this place offers', 'Bathroom', 'Hair d...",Brighton and Hove England United Kingdom,2,1.0,1.0,78,4.8,5.0,4.9,4.9,5.0,4.9,54.0,https://www.airbnb.co.uk/rooms/48565992?adults...,1
827,282118e2-049e-4d9f-b2f2-b47477881b07,Beachfront,Sea front flat with a stunning view!,This specious two bedroom flat on the sea fron...,"['What this place offers', 'Scenic views', 'Be...",East Sussex England United Kingdom,4,2.0,1.5,113,4.8,5.0,5.0,5.0,5.0,4.8,38.0,https://www.airbnb.co.uk/rooms/49742544?adults...,2
828,9ebf9cec-624e-480e-8704-dffa7cb1fe51,Beachfront,MP713 - Camber Sands Holiday Park - Sleeps 6 +...,"With all the modern amenities, our contemporar...","['What this place offers', 'Bathroom', 'Hot wa...",Camber England United Kingdom,6,3.0,2.0,80,4.7,4.8,5.0,5.0,5.0,4.7,24.0,https://www.airbnb.co.uk/rooms/47777462?adults...,2
829,d2b06c80-c643-485d-a24b-15d0811a3166,Beachfront,"Sea Scene's , Hayling Island",Sea Scenes is a homely two bedroom groundfloor...,"['What this place offers', 'Bathroom', 'Hair d...",Hayling Island Hampshire United Kingdom,4,2.0,1.0,104,4.9,4.9,4.9,4.9,4.9,4.3,29.0,https://www.airbnb.co.uk/rooms/32377446?adults...,2

In [31]:


df.iloc[498]

ID                                   4c917b3c-d693-4ee4-a321-f5babc728dc9
Category                                                    Amazing pools
Title                                       Stunning Cotswolds Water Park
Description                                            sleeps 6 with pool
Amenities               ['About this space', 'Enjoy a discount for boo...
Location                ['What this place offers', 'Bathroom', 'Hair d...
guests                            Somerford Keynes England United Kingdom
beds                                                                  6.0
bathrooms                                                             4.0
Price_Night                                                             3
Cleanliness_rating                                                  200.0
Accuracy_rating                                                       4.8
Communication_rating                                                  4.9
Location_rating                                                       5.0
Check-in_rating                                                       4.8
Value_rating                                                          4.9
amenities_count                                                       4.7
url                                                                    46
bedrooms                https://www.airbnb.co.uk/rooms/49009981?adults...
Name: 498, dtype: object

In [33]:
df['guests'] = df['guests'] = pd.to_numeric(df['guests'])

ValueError: Unable to parse string "Somerford Keynes England United Kingdom" at position 498

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 830 entries, 0 to 829
Data columns (total 19 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   ID                    830 non-null    object
 1   Category              830 non-null    object
 2   Title                 830 non-null    object
 3   Description           830 non-null    object
 4   Amenities             830 non-null    object
 5   Location              830 non-null    object
 6   guests                830 non-null    object
 7   beds                  830 non-null    float64
 8   bathrooms             830 non-null    float64
 9   Price_Night           830 non-null    int64
 10  Cleanliness_rating    830 non-null    float64
 11  Accuracy_rating       830 non-null    float64
 12  Communication_rating  830 non-null    float64
 13  Location_rating       830 non-null    float64
 14  Check-in_rating       830 non-null    float64
 15  Value_rating          830 non-null    float64
 16  amenities_count       830 non-null    float64
 17  url                   830 non-null    object
 18  bedrooms              830 non-null    object
dtypes: float64(9), int64(1), object(9)
memory usage: 123.3+ KB

In [8]:
df['bedrooms'] = pd.to_numeric(df['bedrooms'], errors='coerce')

In [10]:
df['bedrooms']

0      1.0
1      1.0
2      1.0
3      1.0
4      2.0
      ...
825    2.0
826    1.0
827    2.0
828    2.0
829    2.0
Name: bedrooms, Length: 830, dtype: float64

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 830 entries, 0 to 829
Data columns (total 19 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   ID                    830 non-null    object
 1   Category              830 non-null    object
 2   Title                 830 non-null    object
 3   Description           830 non-null    object
 4   Amenities             830 non-null    object
 5   Location              830 non-null    object
 6   guests                830 non-null    object
 7   beds                  830 non-null    float64
 8   bathrooms             830 non-null    float64
 9   Price_Night           830 non-null    int64
 10  Cleanliness_rating    830 non-null    float64
 11  Accuracy_rating       830 non-null    float64
 12  Communication_rating  830 non-null    float64
 13  Location_rating       830 non-null    float64
 14  Check-in_rating       830 non-null    float64
 15  Value_rating          830 non-null    float64
 16  amenities_count       830 non-null    float64
 17  url                   830 non-null    object
 18  bedrooms              829 non-null    float64
dtypes: float64(10), int64(1), object(8)
memory usage: 123.3+ KB

In [11]:
df['bedrooms'] = pd.to_numeric(df['bedrooms'], errors='ignore')

In [12]:
df['bedrooms']

0      1.0
1      1.0
2      1.0
3      1.0
4      2.0
      ...
825    2.0
826    1.0
827    2.0
828    2.0
829    2.0
Name: bedrooms, Length: 830, dtype: float64

In [32]:
df['guests'] = pd.to_numeric(df['guests'], errors='ignore')

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 830 entries, 0 to 829
Data columns (total 19 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   ID                    830 non-null    object
 1   Category              830 non-null    object
 2   Title                 830 non-null    object
 3   Description           830 non-null    object
 4   Amenities             830 non-null    object
 5   Location              830 non-null    object
 6   guests                830 non-null    object
 7   beds                  830 non-null    float64
 8   bathrooms             830 non-null    float64
 9   Price_Night           830 non-null    int64
 10  Cleanliness_rating    830 non-null    float64
 11  Accuracy_rating       830 non-null    float64
 12  Communication_rating  830 non-null    float64
 13  Location_rating       830 non-null    float64
 14  Check-in_rating       830 non-null    float64
 15  Value_rating          830 non-null    float64
 16  amenities_count       830 non-null    float64
 17  url                   830 non-null    object
 18  bedrooms              829 non-null    float64
dtypes: float64(10), int64(1), object(8)
memory usage: 123.3+ KB

In [25]:


airbnb_df = pd.read_csv('/Users/apple/Documents/GitHub/Data_Science_Airbnb/airbnb_datasets/clean_tabular_data.csv')
categories = airbnb_df['Category'].astype('category')
# print(categories)
encoder = pd.get_dummies(categories)
encoder = encoder.astype('int64')
airbnb_df = pd.concat([airbnb_df, encoder], axis=1)

# print(airbnb_df)
airbnb_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 830 entries, 0 to 829
Data columns (total 24 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   ID                    830 non-null    object
 1   Category              830 non-null    object
 2   Title                 830 non-null    object
 3   Description           830 non-null    object
 4   Amenities             830 non-null    object
 5   Location              830 non-null    object
 6   guests                830 non-null    object
 7   beds                  830 non-null    float64
 8   bathrooms             830 non-null    float64
 9   Price_Night           830 non-null    int64
 10  Cleanliness_rating    830 non-null    float64
 11  Accuracy_rating       830 non-null    float64
 12  Communication_rating  830 non-null    float64
 13  Location_rating       830 non-null    float64
 14  Check-in_rating       830 non-null    float64
 15  Value_rating          830 non-null    float64
 16  amenities_count       830 non-null    float64
 17  url                   830 non-null    object
 18  bedrooms              830 non-null    object
 19  Amazing pools         830 non-null    int64
 20  Beachfront            830 non-null    int64
 21  Chalets               830 non-null    int64
 22  Offbeat               830 non-null    int64
 23  Treehouses            830 non-null    int64
dtypes: float64(9), int64(6), object(9)
memory usage: 155.8+ KB

## After refactoring tabular_data.py

In [34]:
airbnb_df = pd.read_csv('/Users/apple/Documents/GitHub/Data_Science_Airbnb/airbnb_datasets/clean_tabular_data.csv')
airbnb_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 829 entries, 0 to 828
Data columns (total 19 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   ID                    829 non-null    object
 1   Category              829 non-null    object
 2   Title                 829 non-null    object
 3   Description           829 non-null    object
 4   Amenities             829 non-null    object
 5   Location              829 non-null    object
 6   guests                829 non-null    int64
 7   beds                  829 non-null    float64
 8   bathrooms             829 non-null    float64
 9   Price_Night           829 non-null    int64
 10  Cleanliness_rating    829 non-null    float64
 11  Accuracy_rating       829 non-null    float64
 12  Communication_rating  829 non-null    float64
 13  Location_rating       829 non-null    float64
 14  Check-in_rating       829 non-null    float64
 15  Value_rating          829 non-null    float64
 16  amenities_count       829 non-null    float64
 17  url                   829 non-null    object
 18  bedrooms              829 non-null    int64
dtypes: float64(9), int64(3), object(7)
memory usage: 123.2+ KB