In [2]:
import pandas as pd
import glob
import plotly.express as px
import matplotlib

df = pd.read_csv('Medals.csv', encoding= 'unicode_escape')
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 93 entries, 0 to 92
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Rank           93 non-null     int64
 1   Team/NOC       93 non-null     object
 2   Gold           93 non-null     int64
 3   Silver         93 non-null     int64
 4   Bronze         93 non-null     int64
 5   Total          93 non-null     int64
 6   Rank by Total  93 non-null     int64
dtypes: int64(6), object(1)
memory usage: 5.2+ KB
None

In [ ]:

# df.set_index('Team/NOC')
df.drop(columns=['Rank', 'Rank by Total'], inplace=True)

In [50]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 93 entries, 0 to 92
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Team/NOC  93 non-null     object
 1   Gold      93 non-null     int64
 2   Silver    93 non-null     int64
 3   Bronze    93 non-null     int64
 4   Total     93 non-null     int64
dtypes: int64(4), object(1)
memory usage: 3.8+ KB
None

In [59]:
fig = px.bar(df, x='Team/NOC', y=['Gold', 'Silver', 'Bronze'], labels={'variable':'Medals', 'value':'Total'})
fig.show()

# athletes_per_discipline_per_gender = px.bar(df, x=“Discipline”, y=[“Female”, “Male”], title=“Total Athletes per Discipline per Gender”,
#                                             labels={
#                                                     ‘value’:‘Total’,
#                                                     ‘variable’:‘Gender’}

## India Air Quality

In [3]:
df = pd.read_csv('India_Air_Quality.csv', encoding= 'unicode_escape')
print(df.info())

/var/folders/h9/jzhyvg6x4k51g8lzv6t0h8vr0000gn/T/ipykernel_13988/1576093605.py:1: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('India_Air_Quality.csv', encoding= 'unicode_escape')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 435742 entries, 0 to 435741
Data columns (total 13 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   stn_code                     291665 non-null  object
 1   sampling_date                435739 non-null  object
 2   state                        435742 non-null  object
 3   location                     435739 non-null  object
 4   agency                       286261 non-null  object
 5   type                         430349 non-null  object
 6   so2                          401096 non-null  float64
 7   no2                          419509 non-null  float64
 8   rspm                         395520 non-null  float64
 9   spm                          198355 non-null  float64
 10  location_monitoring_station  408251 non-null  object
 11  pm2_5                        9314 non-null    float64
 12  date                         435735 non-null  object
dtypes: float64(5), object(8)
memory usage: 43.2+ MB
None

In [4]:
df.isnull()

,stn_code,sampling_date,state,location,agency,type,so2,no2,rspm,spm,location_monitoring_station,pm2_5,date
0,False,False,False,False,True,False,False,False,True,True,True,True,False
1,False,False,False,False,True,False,False,False,True,True,True,True,False
2,False,False,False,False,True,False,False,False,True,True,True,True,False
3,False,False,False,False,True,False,False,False,True,True,True,True,False
4,False,False,False,False,True,False,False,False,True,True,True,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
435737,False,False,False,False,False,False,False,False,False,True,False,True,False
435738,False,False,False,False,False,False,False,False,False,True,False,True,False
435739,True,True,False,True,True,True,True,True,True,True,True,True,True
435740,True,True,False,True,True,True,True,True,True,True,True,True,True
435741,True,True,False,True,True,True,True,True,True,True,True,True,True

In [67]:
print(df.isnull().sum())

stn_code                       144077
sampling_date                       3
state                               0
location                            3
agency                         149481
type                             5393
so2                             34646
no2                             16233
rspm                            40222
spm                            237387
location_monitoring_station     27491
pm2_5                          426428
date                                7
dtype: int64

In [5]:
new_df = df[['so2', 'no2', 'pm2_5','date']]
print(new_df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 435742 entries, 0 to 435741
Data columns (total 4 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   so2     401096 non-null  float64
 1   no2     419509 non-null  float64
 2   pm2_5   9314 non-null    float64
 3   date    435735 non-null  object
dtypes: float64(3), object(1)
memory usage: 13.3+ MB
None

In [ ]:
fig = px.line(new_df, x='date', y=['so2','no2','pm2_5'])

## Data Cleaning

In [2]:
import pandas as pd
pd.set_option('display.max_columns', None)
flights_df = pd.read_csv("flights.txt", sep="|") # Make sure flights.txt is in the same directory

In [4]:
flights_df.head

<bound method NDFrame.head of          TRANSACTIONID  FLIGHTDATE AIRLINECODE  \
0             54548800    20020101          WN
1             55872300    20020101          CO
2             54388800    20020101          WN
3             54486500    20020101          WN
4             55878700    20020103          CO
...                ...         ...         ...
1191800      126750200    20130106          EV
1191801      127294500    20130106          DL
1191802      127294900    20130106          DL
1191803      126594900    20130106          EV
1191804      126620300    20130106          EV

                            AIRLINENAME TAILNUM  FLIGHTNUM ORIGINAIRPORTCODE  \
0            Southwest Airlines Co.: WN  N103@@       1425               ABQ
1        Continental Air Lines Inc.: CO  N83872        150               ABQ
2            Southwest Airlines Co.: WN  N334@@        249               ABQ
3            Southwest Airlines Co.: WN  N699@@        902               ABQ
4        Continental Air Lines Inc.: CO  N58606        234               ABQ
...                                 ...     ...        ...               ...
1191800    ExpressJet Airlines Inc.: EV  N683BR       5272               ATL
1191801        Delta Air Lines Inc.: DL  N949DL       1711               ATL
1191802        Delta Air Lines Inc.: DL  N907DE       1810               ATL
1191803    ExpressJet Airlines Inc.: EV  N855AS       5208               ATL
1191804    ExpressJet Airlines Inc.: EV  N138EV       5549               ATL

                                           ORIGAIRPORTNAME ORIGINCITYNAME  \
0         AlbuquerqueNM: Albuquerque International Sunport    Albuquerque
1         AlbuquerqueNM: Albuquerque International Sunport    Albuquerque
2         AlbuquerqueNM: Albuquerque International Sunport    Albuquerque
3         AlbuquerqueNM: Albuquerque International Sunport    Albuquerque
4         AlbuquerqueNM: Albuquerque International Sunport    Albuquerque
...                                                    ...            ...
1191800  AtlantaGA: Hartsfield-Jackson Atlanta Internat...        Atlanta
1191801  AtlantaGA: Hartsfield-Jackson Atlanta Internat...        Atlanta
1191802  AtlantaGA: Hartsfield-Jackson Atlanta Internat...        Atlanta
1191803  AtlantaGA: Hartsfield-Jackson Atlanta Internat...        Atlanta
1191804  AtlantaGA: Hartsfield-Jackson Atlanta Internat...        Atlanta

        ORIGINSTATE ORIGINSTATENAME DESTAIRPORTCODE  \
0                NM      New Mexico             DAL
1                NM      New Mexico             IAH
2                NM      New Mexico             MCI
3                NM      New Mexico             LAS
4                NM      New Mexico             IAH
...             ...             ...             ...
1191800          GA         Georgia             DAL
1191801          GA         Georgia             DFW
1191802          GA         Georgia             DFW
1191803          GA         Georgia             FWA
1191804          GA         Georgia             GSO

                                           DESTAIRPORTNAME  \
0                              DallasTX: Dallas Love Field
1          HoustonTX: George Bush Intercontinental/Houston
2                 Kansas CityMO: Kansas City International
3                      Las VegasNV: McCarran International
4          HoustonTX: George Bush Intercontinental/Houston
...                                                    ...
1191800                        DallasTX: Dallas Love Field
1191801  Dallas/Fort WorthTX: Dallas/Fort Worth Interna...
1191802  Dallas/Fort WorthTX: Dallas/Fort Worth Interna...
1191803             Fort WayneIN: Fort Wayne International
1191804  Greensboro/High PointNC: Piedmont Triad Intern...

                  DESTCITYNAME DESTSTATE   DESTSTATENAME  CRSDEPTIME  DEPTIME  \
0                       Dallas        TX           Texas        1425   1425.0
1                      Houston        TX           Texas        1130   1136.0
2                  Kansas City        MO        Missouri        1215   1338.0
3                    Las Vegas        NV          Nevada        1925   1925.0
4                      Houston        TX           Texas        1455   1453.0
...                        ...       ...             ...         ...      ...
1191800                 Dallas        TX           Texas        1357   1348.0
1191801      Dallas/Fort Worth        TX           Texas        2150   2147.0
1191802      Dallas/Fort Worth        TX           Texas        1617   1617.0
1191803             Fort Wayne        IN         Indiana        1516   1514.0
1191804  Greensboro/High Point        NC  North Carolina        1452   1458.0

         DEPDELAY  TAXIOUT  WHEELSOFF  WHEELSON  TAXIIN  CRSARRTIME  ARRTIME  \
0             0.0      8.0     1433.0    1648.0     4.0        1655   1652.0
1             6.0     12.0     1148.0    1419.0    16.0        1426   1435.0
2            83.0      7.0     1345.0    1618.0     2.0        1500   1620.0
3             0.0      5.0     1930.0    1947.0     1.0        1950   1948.0
4            -2.0     11.0     1504.0    1742.0     5.0        1750   1747.0
...           ...      ...        ...       ...     ...         ...      ...
1191800      -9.0     22.0     1410.0    1500.0     3.0        1523   1503.0
1191801      -3.0     23.0     2210.0    2307.0    10.0        2321   2317.0
1191802       0.0     18.0     1635.0    1728.0     9.0        1750   1737.0
1191803      -2.0     21.0     1535.0    1651.0     4.0        1658   1655.0
1191804       6.0     27.0     1525.0    1611.0     4.0        1609   1615.0

         ARRDELAY  CRSELAPSEDTIME  ACTUALELAPSEDTIME CANCELLED DIVERTED  \
0            -3.0            90.0               87.0         F    False
1             9.0           116.0              119.0     False        F
2            80.0           105.0              102.0         F    False
3            -2.0            85.0               83.0         0        0
4            -3.0           115.0              114.0         F    False
...           ...             ...                ...       ...      ...
1191800     -20.0           146.0              135.0         0        0
1191801      -4.0           151.0              150.0     False        F
1191802     -13.0           153.0              140.0         F    False
1191803      -3.0           102.0              101.0     False        F
1191804       6.0            77.0               77.0     False    False

          DISTANCE
0        580 miles
1        744 miles
2        718 miles
3        487 miles
4        744 miles
...            ...
1191800  721 miles
1191801  731 miles
1191802  731 miles
1191803  508 miles
1191804  306 miles

[1191805 rows x 31 columns]>

In [5]:
flights_df.dtypes

TRANSACTIONID          int64
FLIGHTDATE             int64
AIRLINECODE           object
AIRLINENAME           object
TAILNUM               object
FLIGHTNUM              int64
ORIGINAIRPORTCODE     object
ORIGAIRPORTNAME       object
ORIGINCITYNAME        object
ORIGINSTATE           object
ORIGINSTATENAME       object
DESTAIRPORTCODE       object
DESTAIRPORTNAME       object
DESTCITYNAME          object
DESTSTATE             object
DESTSTATENAME         object
CRSDEPTIME             int64
DEPTIME              float64
DEPDELAY             float64
TAXIOUT              float64
WHEELSOFF            float64
WHEELSON             float64
TAXIIN               float64
CRSARRTIME             int64
ARRTIME              float64
ARRDELAY             float64
CRSELAPSEDTIME       float64
ACTUALELAPSEDTIME    float64
CANCELLED             object
DIVERTED              object
DISTANCE              object
dtype: object

In [6]:
flights_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1191805 entries, 0 to 1191804
Data columns (total 31 columns):
 #   Column             Non-Null Count    Dtype
---  ------             --------------    -----
 0   TRANSACTIONID      1191805 non-null  int64
 1   FLIGHTDATE         1191805 non-null  int64
 2   AIRLINECODE        1191805 non-null  object
 3   AIRLINENAME        1191805 non-null  object
 4   TAILNUM            1034988 non-null  object
 5   FLIGHTNUM          1191805 non-null  int64
 6   ORIGINAIRPORTCODE  1191805 non-null  object
 7   ORIGAIRPORTNAME    1191805 non-null  object
 8   ORIGINCITYNAME     1191805 non-null  object
 9   ORIGINSTATE        1180963 non-null  object
 10  ORIGINSTATENAME    1180963 non-null  object
 11  DESTAIRPORTCODE    1191805 non-null  object
 12  DESTAIRPORTNAME    1191805 non-null  object
 13  DESTCITYNAME       1191805 non-null  object
 14  DESTSTATE          1180967 non-null  object
 15  DESTSTATENAME      1180967 non-null  object
 16  CRSDEPTIME         1191805 non-null  int64
 17  DEPTIME            1163470 non-null  float64
 18  DEPDELAY           1163470 non-null  float64
 19  TAXIOUT            1011833 non-null  float64
 20  WHEELSOFF          1011791 non-null  float64
 21  WHEELSON           1010225 non-null  float64
 22  TAXIIN             1010320 non-null  float64
 23  CRSARRTIME         1191805 non-null  int64
 24  ARRTIME            1161439 non-null  float64
 25  ARRDELAY           1160545 non-null  float64
 26  CRSELAPSEDTIME     1191383 non-null  float64
 27  ACTUALELAPSEDTIME  1160545 non-null  float64
 28  CANCELLED          1191805 non-null  object
 29  DIVERTED           1191805 non-null  object
 30  DISTANCE           1191805 non-null  object
dtypes: float64(10), int64(5), object(16)
memory usage: 281.9+ MB

In [4]:
df = flights_df.copy()

In [4]:
distance_df = flights_df.loc[:, "DISTANCE"].head(10)
print(distance_df)

0     580 miles
1     744 miles
2     718 miles
3     487 miles
4     744 miles
5     289 miles
6     569 miles
7    1240 miles
8     223 miles
9     677 miles
Name: DISTANCE, dtype: object

In [11]:
flights_df.loc[:, "DISTANCE"].head(10)

0     580.0
1     744.0
2     718.0
3     487.0
4     744.0
5     289.0
6     569.0
7    1240.0
8     223.0
9     677.0
Name: DISTANCE, dtype: float64

In [12]:
flights_df["DISTANCE"] = flights_df["DISTANCE"].astype('int64')

In [14]:
flights_df["DISTANCE"]

0          580
1          744
2          718
3          487
4          744
          ...
1191800    721
1191801    731
1191802    731
1191803    508
1191804    306
Name: DISTANCE, Length: 1191805, dtype: int64

In [15]:
flights_df["AIRLINECODE"].describe()

count     1191805
unique         26
top            WN
freq       189985
Name: AIRLINECODE, dtype: object

In [18]:
flights_df['AIRLINECODE'] = flights_df['AIRLINECODE'].astype('category')
flights_df['AIRLINECODE']

0          WN
1          CO
2          WN
3          WN
4          CO
           ..
1191800    EV
1191801    DL
1191802    DL
1191803    EV
1191804    EV
Name: AIRLINECODE, Length: 1191805, dtype: category
Categories (26, object): ['9E', 'AA', 'AS', 'B6', ..., 'VX', 'WN', 'XE', 'YV']

In [17]:
flights_df["AIRLINECODE"].describe()

count     1191805
unique         26
top            WN
freq       189985
Name: AIRLINECODE, dtype: object

## Pandas - Concepts and Dataframe Operations

### Read YAML with pandas

In [ ]:
def transforms_yaml_file_to_pandas_dataframe():
    df = pd.read_yaml

### Fire Fighters versus Police Officers

In [21]:
df = pd.read_csv('Salaries.csv')
df

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,AA,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.00,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,AB,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,AC,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.60,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,AD,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.00,56120.71,198306.90,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,AE,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.60,9737.00,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
671,ZV,CHERYL ADAMS,"HEAD ATTORNEY, CIVIL AND CRIMINAL",176856.18,0.00,3537.89,NaN,180394.07,180394.07,2011,NaN,San Francisco,NaN
672,ZW,LOUISE SIMPSON,"HEAD ATTORNEY, CIVIL AND CRIMINAL",176856.18,0.00,3537.80,NaN,180393.98,180393.98,2011,NaN,San Francisco,NaN
673,ZX,BLAKE LOEBS,"HEAD ATTORNEY, CIVIL AND CRIMINAL",176856.19,0.00,3537.75,NaN,180393.94,180393.94,2011,NaN,San Francisco,NaN
674,ZY,ELIZABETH AGUILAR-TARCHI,"HEAD ATTORNEY, CIVIL AND CRIMINAL",176856.17,0.00,3537.11,NaN,180393.28,180393.28,2011,NaN,San Francisco,NaN
675,ZZ,JULIAN NG,SERGEANT III (POLICE DEPARTMENT),130457.76,43793.11,6061.80,NaN,180312.67,180312.67,2011,NaN,San Francisco,NaN

In [23]:
jobtitle_df = df[['JobTitle']]
jobtitle_df

                                           JobTitle
0    GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY
1                   CAPTAIN III (POLICE DEPARTMENT)
2                   CAPTAIN III (POLICE DEPARTMENT)
3              WIRE ROPE CABLE MAINTENANCE MECHANIC
4      DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)
..                                              ...
671               HEAD ATTORNEY, CIVIL AND CRIMINAL
672               HEAD ATTORNEY, CIVIL AND CRIMINAL
673               HEAD ATTORNEY, CIVIL AND CRIMINAL
674               HEAD ATTORNEY, CIVIL AND CRIMINAL
675                SERGEANT III (POLICE DEPARTMENT)

[676 rows x 1 columns]

In [34]:
df.loc[df['JobTitle'].str.contains("POLICE", True)]

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
1,AB,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,AC,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.60,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
11,AL,PATRICIA JACKSON,CAPTAIN III (POLICE DEPARTMENT),99722.00,87082.62,110804.30,NaN,297608.92,297608.92,2011,NaN,San Francisco,NaN
15,AP,RICHARD CORRIEA,"COMMANDER III, (POLICE DEPARTMENT)",198778.01,73478.20,13957.65,NaN,286213.86,286213.86,2011,NaN,San Francisco,NaN
25,AZ,GREGORY SUHR,CHIEF OF POLICE,256470.41,0.00,11522.18,NaN,267992.59,267992.59,2011,NaN,San Francisco,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
647,YX,STEWART NG,POLICE OFFICER III,112421.44,13115.50,55507.38,NaN,181044.32,181044.32,2011,NaN,San Francisco,NaN
649,YZ,VICTOR TSANG,LIEUTENANT III (POLICE DEPARTMENT),149023.98,17330.37,14569.57,NaN,180923.92,180923.92,2011,NaN,San Francisco,NaN
658,ZI,LAWRENCE MCDEVITT,SERGEANT III (POLICE DEPARTMENT),130505.19,47588.94,2437.42,NaN,180531.55,180531.55,2011,NaN,San Francisco,NaN
663,ZN,HENRY YEE,SERGEANT III (POLICE DEPARTMENT),130457.93,15625.85,34324.97,NaN,180408.75,180408.75,2011,NaN,San Francisco,NaN
675,ZZ,JULIAN NG,SERGEANT III (POLICE DEPARTMENT),130457.76,43793.11,6061.80,NaN,180312.67,180312.67,2011,NaN,San Francisco,NaN

In [35]:
df.loc[df['JobTitle'].str.contains("FIRE", True)]

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
4,AE,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.60,9737.00,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN
6,AG,ALSON LEE,"BATTALION CHIEF, (FIRE DEPARTMENT)",92492.01,89062.90,134426.14,NaN,315981.05,315981.05,2011,NaN,San Francisco,NaN
8,AI,MICHAEL MORRIS,"BATTALION CHIEF, (FIRE DEPARTMENT)",176932.64,86362.68,40132.23,NaN,303427.55,303427.55,2011,NaN,San Francisco,NaN
9,AJ,JOANNE HAYES-WHITE,"CHIEF OF DEPARTMENT, (FIRE DEPARTMENT)",285262.00,0.00,17115.73,NaN,302377.73,302377.73,2011,NaN,San Francisco,NaN
10,AK,ARTHUR KENNEY,"ASSISTANT CHIEF OF DEPARTMENT, (FIRE DEPARTMENT)",194999.39,71344.88,33149.90,NaN,299494.17,299494.17,2011,NaN,San Francisco,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
648,YY,ROHAN KNIGHT,FIREFIGHTER,105934.67,57319.91,17688.34,NaN,180942.92,180942.92,2011,NaN,San Francisco,NaN
650,ZA,PATRICK GRIMESEY,FIREFIGHTER,105934.65,56927.28,18030.51,NaN,180892.44,180892.44,2011,NaN,San Francisco,NaN
654,ZE,DONALD PEOPLES,FIREFIGHTER,105934.64,60038.14,14630.07,NaN,180602.85,180602.85,2011,NaN,San Francisco,NaN
655,ZF,JOHN DARMANIN,"INSPECTOR, BUREAU OF FIRE PREVENTION AND PUBLI...",126968.05,369.10,53241.41,NaN,180578.56,180578.56,2011,NaN,San Francisco,NaN
657,ZH,EDWARD MOY,"CAPTAIN, FIRE SUPPRESSION",168561.20,1752.29,10247.21,NaN,180560.70,180560.70,2011,NaN,San Francisco,NaN

In [38]:
# Ratio of fire fighters over police officers
238/139

1.7122302158273381

In [47]:
# Finding mean salary of police department

police_jobs = df.loc[df['JobTitle'].str.contains("POLICE", True)]
police_salary = police_jobs[['BasePay']]
police_salary.describe()


# base_pay_df=df[['BasePay']]
# base_pay_df.describe()

# Could also use base_pay_df.mean() here

             BasePay
count     139.000000
mean   145121.387482
std     39831.546940
min     51437.990000
25%    123192.130000
50%    130481.550000
75%    185369.685000
max    261717.600000

In [48]:
# Finding mean salary of fire department

fireman_jobs = df.loc[df['JobTitle'].str.contains("FIRE", True)]
fireman_salary = fireman_jobs[['BasePay']]
fireman_salary.describe()

             BasePay
count     238.000000
mean   128547.856261
std     28678.933646
min     25400.000000
25%    105934.670000
50%    123105.000000
75%    140546.880000
max    285262.000000

### DataFrame manipulation

In [49]:
jobtitle_df.nunique(dropna=True)

JobTitle    93
dtype: int64

In [53]:
john_df = df.loc[df['EmployeeName'].str.contains("JOHN", True)]
john_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 35 entries, 13 to 655
Data columns (total 13 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Id                35 non-null     object
 1   EmployeeName      35 non-null     object
 2   JobTitle          35 non-null     object
 3   BasePay           35 non-null     float64
 4   OvertimePay       35 non-null     float64
 5   OtherPay          35 non-null     float64
 6   Benefits          0 non-null      float64
 7   TotalPay          35 non-null     float64
 8   TotalPayBenefits  35 non-null     float64
 9   Year              35 non-null     int64
 10  Notes             0 non-null      float64
 11  Agency            35 non-null     object
 12  Status            0 non-null      float64
dtypes: float64(8), int64(1), object(4)
memory usage: 3.8+ KB

In [ ]:
def get_first_name_from_full_name