In [1]:
import pandas as pd

## Milestone 3

### Task 1

In [ ]:
'''
def remove_rows_with_missing_ratings()
removes the rows with missing values in these columns. 
It should take in the dataset as a pandas dataframe and return the same type.

def combine_description_strings() 
The "Description" column contains lists of strings. 
Pandas recognises these as strings containing python lists
1. Remove records with a missing description.
2. Remove the 'About this space' prefix which every description starts with.
3. Remove empty quotes from lists.
3. Combine/ join the list items into one string.
It should take in the dataset as a pandas dataframe and return the same type.

def set_default_feature_values()
Replace entries with empty values with the number 1. 
It should take in the dataset as a pandas dataframe and return the same type.

def clean_tabular_data()
Takes in the raw data frame.
calls the three functions above sequentially 
on the output of the previous one, 
and returns the processed data.

if __name__ == "__main__"
1. Load the raw data in using pandas
2. Call clean_tabular_data on it
3. Save the processed data as clean_tabular_data.csv in the same folder 
as you found the raw tabular data.


'''

In [17]:
tabular_data_df = pd.read_csv('listing.csv')
tabular_data_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 988 entries, 0 to 987
Data columns (total 20 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   ID                    988 non-null    object
 1   Category              988 non-null    object
 2   Title                 988 non-null    object
 3   Description           900 non-null    object
 4   Amenities             988 non-null    object
 5   Location              988 non-null    object
 6   guests                969 non-null    object
 7   beds                  945 non-null    float64
 8   bathrooms             888 non-null    float64
 9   Price_Night           988 non-null    int64
 10  Cleanliness_rating    890 non-null    float64
 11  Accuracy_rating       890 non-null    float64
 12  Communication_rating  890 non-null    float64
 13  Location_rating       890 non-null    float64
 14  Check-in_rating       890 non-null    float64
 15  Value_rating          890 non-null    float64
 16  amenities_count       988 non-null    float64
 17  url                   988 non-null    object
 18  bedrooms              906 non-null    object
 19  Unnamed: 19           1 non-null      float64
dtypes: float64(10), int64(1), object(9)
memory usage: 154.5+ KB

In [18]:
tabular_data_df.isna().sum()

ID                        0
Category                  0
Title                     0
Description              88
Amenities                 0
Location                  0
guests                   19
beds                     43
bathrooms               100
Price_Night               0
Cleanliness_rating       98
Accuracy_rating          98
Communication_rating     98
Location_rating          98
Check-in_rating          98
Value_rating             98
amenities_count           0
url                       0
bedrooms                 82
Unnamed: 19             987
dtype: int64

In [19]:
tabular_data_df.dtypes

ID                       object
Category                 object
Title                    object
Description              object
Amenities                object
Location                 object
guests                   object
beds                    float64
bathrooms               float64
Price_Night               int64
Cleanliness_rating      float64
Accuracy_rating         float64
Communication_rating    float64
Location_rating         float64
Check-in_rating         float64
Value_rating            float64
amenities_count         float64
url                      object
bedrooms                 object
Unnamed: 19             float64
dtype: object

In [32]:
tabular_data_df.dropna(subset=['Cleanliness_rating', 'Accuracy_rating', 'Communication_rating', 'Location_rating', 'Check-in_rating', 'Value_rating'], inplace=True)

In [33]:
tabular_data_df.isna().sum()

ID                        0
Category                  0
Title                     0
Description              60
Amenities                 0
Location                  0
guests                   18
beds                     34
bathrooms                79
Price_Night               0
Cleanliness_rating        0
Accuracy_rating           0
Communication_rating      0
Location_rating           0
Check-in_rating           0
Value_rating              0
amenities_count           0
url                       0
bedrooms                 76
Unnamed: 19             889
dtype: int64

In [ ]:
class Clean_airbnb_tabular_data:
    # don't forget init method!

    def remove_rows_with_missing_ratings(self):
        tabular_data_df.dropna(subset=['Cleanliness_rating', 'Accuracy_rating', 'Communication_rating', 'Location_rating', 'Check-in_rating', 'Value_rating'], inplace=True)
        print(tabular_data_df.isna().sum())
        return tabular_data_df

    



        
        
















if __name__ == "__main__":
    tabular_data_df = pd.read_csv('listing.csv')