In [83]:
import pandas as pd

## Milestone 3 - Data Preparation

### Task 1

In [63]:
'''
def remove_rows_with_missing_ratings()
removes the rows with missing values in these columns. 
It should take in the dataset as a pandas dataframe and return the same type.

def combine_description_strings() 
The "Description" column contains lists of strings. 
Pandas recognises these as strings containing python lists
1. Remove records with a missing description.
2. Remove the 'About this space' prefix which every description starts with.
3. Remove empty quotes from lists.
3. Combine/ join the list items into one string.
It should take in the dataset as a pandas dataframe and return the same type.

def set_default_feature_values()
Replace entries with empty values with the number 1. 
It should take in the dataset as a pandas dataframe and return the same type.

def clean_tabular_data()
Takes in the raw data frame.
calls the three functions above sequentially 
on the output of the previous one, 
and returns the processed data.

if __name__ == "__main__"
1. Load the raw data in using pandas
2. Call clean_tabular_data on it
3. Save the processed data as clean_tabular_data.csv in the same folder 
as you found the raw tabular data.


'''

'\ndef remove_rows_with_missing_ratings()\nremoves the rows with missing values in these columns. \nIt should take in the dataset as a pandas dataframe and return the same type.\n\ndef combine_description_strings() \nThe "Description" column contains lists of strings. \nPandas recognises these as strings containing python lists\n1. Remove records with a missing description.\n2. Remove the \'About this space\' prefix which every description starts with.\n3. Remove empty quotes from lists.\n3. Combine/ join the list items into one string.\nIt should take in the dataset as a pandas dataframe and return the same type.\n\ndef set_default_feature_values()\nReplace entries with empty values with the number 1. \nIt should take in the dataset as a pandas dataframe and return the same type.\n\ndef clean_tabular_data()\nTakes in the raw data frame.\ncalls the three functions above sequentially \non the output of the previous one, \nand returns the processed data.\n\nif __name__ == "__main__"\n1. Load the raw data in using pandas\n2. Call clean_tabular_data on it\n3. Save the processed data as clean_tabular_data.csv in the same folder \nas you found the raw tabular data.\n\n\n'

In [84]:
tabular_data_df = pd.read_csv('listing.csv')
tabular_data_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 988 entries, 0 to 987
Data columns (total 20 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   ID                    988 non-null    object
 1   Category              988 non-null    object
 2   Title                 988 non-null    object
 3   Description           900 non-null    object
 4   Amenities             988 non-null    object
 5   Location              988 non-null    object
 6   guests                969 non-null    object
 7   beds                  945 non-null    float64
 8   bathrooms             888 non-null    float64
 9   Price_Night           988 non-null    int64
 10  Cleanliness_rating    890 non-null    float64
 11  Accuracy_rating       890 non-null    float64
 12  Communication_rating  890 non-null    float64
 13  Location_rating       890 non-null    float64
 14  Check-in_rating       890 non-null    float64
 15  Value_rating          890 non-null    float64
 16  amenities_count       988 non-null    float64
 17  url                   988 non-null    object
 18  bedrooms              906 non-null    object
 19  Unnamed: 19           1 non-null      float64
dtypes: float64(10), int64(1), object(9)
memory usage: 154.5+ KB

In [85]:
tabular_data_df.isna().sum()

ID                        0
Category                  0
Title                     0
Description              88
Amenities                 0
Location                  0
guests                   19
beds                     43
bathrooms               100
Price_Night               0
Cleanliness_rating       98
Accuracy_rating          98
Communication_rating     98
Location_rating          98
Check-in_rating          98
Value_rating             98
amenities_count           0
url                       0
bedrooms                 82
Unnamed: 19             987
dtype: int64

In [66]:
tabular_data_df.dtypes

ID                       object
Category                 object
Title                    object
Description              object
Amenities                object
Location                 object
guests                   object
beds                    float64
bathrooms               float64
Price_Night               int64
Cleanliness_rating      float64
Accuracy_rating         float64
Communication_rating    float64
Location_rating         float64
Check-in_rating         float64
Value_rating            float64
amenities_count         float64
url                      object
bedrooms                 object
Unnamed: 19             float64
dtype: object

In [86]:
tabular_data_df.dropna(subset=['Cleanliness_rating', 'Accuracy_rating', 'Communication_rating', 'Location_rating', 'Check-in_rating', 'Value_rating'], inplace=True)

In [87]:
tabular_data_df.isna().sum()

ID                        0
Category                  0
Title                     0
Description              60
Amenities                 0
Location                  0
guests                   18
beds                     34
bathrooms                79
Price_Night               0
Cleanliness_rating        0
Accuracy_rating           0
Communication_rating      0
Location_rating           0
Check-in_rating           0
Value_rating              0
amenities_count           0
url                       0
bedrooms                 76
Unnamed: 19             889
dtype: int64

In [69]:
description_df = tabular_data_df['Description']
description_df

0      ['About this space', "Escape to one of these t...
1      ['About this space', "Come and spend a romanti...
2      ['About this space', 'Rustic cabin between the...
3      ['About this space', 'The Tree top cabin is si...
5      ['About this space', 'Charming cabin nestled i...
                             ...
982    ['About this space', 'An apartment directly on...
983    ['About this space', 'Light roomy space with o...
984    ['About this space', 'This specious two bedroo...
985    ['About this space', 'With all the modern amen...
987    ['About this space', 'Sea Scenes is a homely t...
Name: Description, Length: 890, dtype: object

In [70]:
type(description_df.loc[982])

str

In [71]:
type(description_df.loc[982])

str

In [72]:
tabular_data_df.dropna(subset=['Description'], inplace=True)

In [73]:
tabular_data_df.isna().sum()

ID                        0
Category                  0
Title                     0
Description               0
Amenities                 0
Location                  0
guests                   15
beds                     29
bathrooms                65
Price_Night               0
Cleanliness_rating        0
Accuracy_rating           0
Communication_rating      0
Location_rating           0
Check-in_rating           0
Value_rating              0
amenities_count           0
url                       0
bedrooms                 70
Unnamed: 19             829
dtype: int64

In [74]:
tabular_data_df['Description'].loc[0]

'[\'About this space\', "Escape to one of these two fabulous Tree Tents. Suspended high above the canopy, it’s time to appreciate life from a new perspective. Featured on George Clarke’s Amazing Spaces, these Tree Tents are a feat of aviation technology. Tree Tent comes complete with fire pit, outdoor kitchen and shower with hot water. You’ll discover a comfortable bed and cosy wood burning stove. Part of the Red Kite Estate, along with our barn and its sister tree tent, the first ever built in the UK, Dragon\'s Egg.", \'The space\', \'The space\\nThe true joy of this place is how wonderfully simple it is (aviation technology aside). Days are filled with fireside discussions, wildlife watching and stunningly beautiful walks. With the nearest mobile signal a ten minute walk away, it’s a great place to ditch the digital and truly escape. Head over the bridge to your own private deck that happily houses a clever outdoor-kitchen and shower (complete with hot water). It’s the perfect spot to fry up breakfast whilst basking in peace and tranquility. There is also a flushing toilet situated just up the hill.And don’t worry, you’re not totally left to your own devices, on arrival you can expect bed linen, towels and a load of dry wood and kindling. If you feel the need to leave your new found homestead in the trees then the local area has lots of suitably chilled things to do. Head out on a moorland walk to take in some magical views - and perhaps even grab a pint at the local pub en route. Further afield, the stunning Elan Valley, a landscape bursting with impressive dams and reservoirs, is well worthy of an explore. And for those needing supplies - and perhaps a flat white - then the friendly market town of Builth Wells is just down the road.\', \'\', \'\', \'\', \'Other things to note\\nYou are entering a remote woodland hideaway for a digital detox: there is very patchy mobile signal and limited internet connectivity.\']'

In [75]:
type(tabular_data_df['Description'].loc[0])

str

In [76]:
from ast import literal_eval

def clean_description_strings(text):
    try:
        description_list = literal_eval(text)
        description_list.remove('About this space')
        description_list = ''.join(description_list)
        return description_list
    except Exception as e:
        return text
        


tabular_data_df['Description'] = tabular_data_df['Description'].apply(clean_description_strings) 
    
tabular_data_df['Description']

0      Escape to one of these two fabulous Tree Tents...
1      Come and spend a romantic stay with a couple o...
2      Rustic cabin between the pines, 3 meters high ...
3      The Tree top cabin is situated in our peaceful...
5      Charming cabin nestled in the leaves, real unu...
                             ...
982    An apartment directly on the beach at Lancing,...
983    Light roomy space with outside garden 5 minute...
984    This specious two bedroom flat on the sea fron...
985    With all the modern amenities, our contemporar...
987    Sea Scenes is a homely two bedroom groundfloor...
Name: Description, Length: 830, dtype: object

In [77]:
tabular_data_df['Description'].replace([r"\\n", "\n", r"\'"], [" "," ",""], regex=True, inplace=True)

In [78]:
tabular_data_df['Description'].loc[0]

'Escape to one of these two fabulous Tree Tents. Suspended high above the canopy, it’s time to appreciate life from a new perspective. Featured on George Clarke’s Amazing Spaces, these Tree Tents are a feat of aviation technology. Tree Tent comes complete with fire pit, outdoor kitchen and shower with hot water. You’ll discover a comfortable bed and cosy wood burning stove. Part of the Red Kite Estate, along with our barn and its sister tree tent, the first ever built in the UK, Dragons Egg.The spaceThe space The true joy of this place is how wonderfully simple it is (aviation technology aside). Days are filled with fireside discussions, wildlife watching and stunningly beautiful walks. With the nearest mobile signal a ten minute walk away, it’s a great place to ditch the digital and truly escape. Head over the bridge to your own private deck that happily houses a clever outdoor-kitchen and shower (complete with hot water). It’s the perfect spot to fry up breakfast whilst basking in peace and tranquility. There is also a flushing toilet situated just up the hill.And don’t worry, you’re not totally left to your own devices, on arrival you can expect bed linen, towels and a load of dry wood and kindling. If you feel the need to leave your new found homestead in the trees then the local area has lots of suitably chilled things to do. Head out on a moorland walk to take in some magical views - and perhaps even grab a pint at the local pub en route. Further afield, the stunning Elan Valley, a landscape bursting with impressive dams and reservoirs, is well worthy of an explore. And for those needing supplies - and perhaps a flat white - then the friendly market town of Builth Wells is just down the road.Other things to note You are entering a remote woodland hideaway for a digital detox: there is very patchy mobile signal and limited internet connectivity.'

In [79]:
from ast import literal_eval

tabular_data_df['Description'] = tabular_data_df['Description'].apply(lambda x : literal_eval(str(x)))

SyntaxError: invalid syntax (<unknown>, line 1)

In [ ]:
from ast import literal_eval

def literal_return(val):
    try:
        return literal_eval(val)
    except ValueError:
        return (val)

tabular_data_df['Description'] = tabular_data_df['Description'].apply(literal_return)

IndentationError: unexpected indent (<unknown>, line 1)

In [ ]:
class Clean_airbnb_tabular_data:
    # don't forget init method!

    def remove_rows_with_missing_ratings(self):
        tabular_data_df.dropna(subset=['Cleanliness_rating', 'Accuracy_rating', 'Communication_rating', 'Location_rating', 'Check-in_rating', 'Value_rating'], inplace=True)
        print(tabular_data_df.isna().sum())
        return tabular_data_df

    def combine_description_strings():
        
        

        
        

    



        
        
def clean_description_strings(text):
    try:
        description_list = literal_eval(text)
        description_list.remove('About this space')
        description_list = ''.join(description_list)
        return description_list
    except Exception as e:
        return text
        


tabular_data_df['Description'] = tabular_data_df['Description'].apply(clean_description_strings) 
    
tabular_data_df['Description']















if __name__ == "__main__":
    tabular_data_df = pd.read_csv('listing.csv')

### Task 1 - Final solution

In [82]:
class Data_Preparation:
    # don't forget init method!

    def remove_rows_with_missing_ratings():
        listings_df = pd.read_csv('listing.csv')
        listings_df.dropna(subset=['Cleanliness_rating', 'Accuracy_rating', 'Communication_rating', 'Location_rating', 'Check-in_rating', 'Value_rating'], inplace=True)
        return listings_df

    def combine_description_strings():
        listings_df.dropna(subset=['Description'], inplace=True)

IndentationError: expected an indented block (290087931.py, line 15)