In [ ]:
import pandas as pd
import glob
import plotly.express as px
import matplotlib

df = pd.read_csv('Medals.csv', encoding= 'unicode_escape')
print(df.info())

In [ ]:

# df.set_index('Team/NOC')
df.drop(columns=['Rank', 'Rank by Total'], inplace=True)

In [ ]:
print(df.info())

In [ ]:
fig = px.bar(df, x='Team/NOC', y=['Gold', 'Silver', 'Bronze'], labels={'variable':'Medals', 'value':'Total'})
fig.show()

# athletes_per_discipline_per_gender = px.bar(df, x=“Discipline”, y=[“Female”, “Male”], title=“Total Athletes per Discipline per Gender”,
#                                             labels={
#                                                     ‘value’:‘Total’,
#                                                     ‘variable’:‘Gender’}

## India Air Quality

In [ ]:
df = pd.read_csv('India_Air_Quality.csv', encoding= 'unicode_escape')
print(df.info())

In [ ]:
df.isnull()

In [ ]:
print(df.isnull().sum())

In [ ]:
new_df = df[['so2', 'no2', 'pm2_5','date']]
print(new_df.info())

In [ ]:
fig = px.line(new_df, x='date', y=['so2','no2','pm2_5'])

## Data Cleaning

In [ ]:
import pandas as pd
pd.set_option('display.max_columns', None)
flights_df = pd.read_csv("flights.txt", sep="|") # Make sure flights.txt is in the same directory

In [ ]:
flights_df.head

In [ ]:
flights_df.dtypes

In [ ]:
flights_df.info()

In [ ]:
df = flights_df.copy()

In [ ]:
distance_df = flights_df.loc[:, "DISTANCE"].head(10)
print(distance_df)

In [ ]:
flights_df.loc[:, "DISTANCE"].head(10)

In [ ]:
flights_df["DISTANCE"] = flights_df["DISTANCE"].astype('int64')

In [ ]:
flights_df["DISTANCE"]

In [ ]:
flights_df["AIRLINECODE"].describe()

In [ ]:
flights_df['AIRLINECODE'] = flights_df['AIRLINECODE'].astype('category')
flights_df['AIRLINECODE']

In [ ]:
flights_df["AIRLINECODE"].describe()

In [ ]:
flights_df['AIRLINECODE'] = flights_df['AIRLINECODE'].astype('object')
flights_df.info()

In [ ]:
flights_df['AIRLINECODE'] = flights_df['AIRLINECODE'].astype('category')
flights_df.info()

In [ ]:
flights_df['AIRLINECODE_ASINT'] = flights_df['AIRLINECODE'].cat.codes.astype('int64')
flights_df['AIRLINECODE_ASINT']

In [ ]:
flights_df['AIRLINECODE_ASINT'].describe()

In [ ]:
flights_df = flights_df.drop('AIRLINECODE_ASINT', 1)

In [ ]:
flights_df.info()

In [ ]:
'''
Description of an item : text
Yearly income : numeric
Size of clothing : category
Arrival time of a plane : datetime
Birthdays of this cohort : datetime
Flavours of milkshakes at McDonalds : category
First half of a postcode : category
Full postcode : category
The time it took for runners to complete a 5K : numeric
'''

In [ ]:
flights_df.duplicated()

In [ ]:
'''
Note that we can .sum() over boolean values. 
Basically, False's are interpreted as 0s and True's as 1. 
So by summing over the dataframe, we can get the total number of duplicate values!
'''

flights_df.duplicated().sum()

In [ ]:
duplicates = flights_df.duplicated(subset = ["ORIGAIRPORTNAME", "DESTAIRPORTNAME", "AIRLINECODE", "FLIGHTDATE", "CRSDEPTIME", "DEPTIME", "ARRTIME"], keep=False)
flights_df[duplicates]
# flights_df[duplicates].info()

In [ ]:
flights_df[duplicates].sort_values(by='FLIGHTDATE', ascending=True)

In [ ]:
summaries = {"CRSARRTIME": "mean", "ARRTIME": "mean", "ARRDELAY": "mean", "CRSELAPSEDTIME": "mean", "ACTUALELAPSEDTIME": "mean"}

grouped_duplicates = flights_df[duplicates].groupby(["FLIGHTDATE", "AIRLINECODE", "ORIGAIRPORTNAME", "DESTAIRPORTNAME"])
grouped_duplicates_min_transactionid = grouped_duplicates["TRANSACTIONID"].min().reset_index()

f_df_duplicates = pd.merge(
    grouped_duplicates_min_transactionid,
    grouped_duplicates.agg(summaries).reset_index(),
    how="inner"
).sort_values("TRANSACTIONID")

f_df_duplicates

In [ ]:
f_df_duplicates['TRANSACTIONID'].isnull().sum()

In [ ]:
f_df_duplicates[f_df_duplicates['TRANSACTIONID'].isnull()] #filtering in pandas

In [ ]:
f_df_duplicates.dropna(subset=['TRANSACTIONID'], inplace=True) #can also use 'all'

In [ ]:
f_df_duplicates

In [ ]:
f_df_duplicates[f_df_duplicates['TRANSACTIONID'].isnull()]

In [ ]:
f_df_duplicates.dtypes

In [ ]:
f_df_duplicates["TRANSACTIONID"] = f_df_duplicates["TRANSACTIONID"].astype('int64')
f_df_duplicates.dtypes

In [ ]:
flights_df

In [ ]:
f_df_duplicates

In [ ]:
flights_df.set_index('TRANSACTIONID', inplace=True)

In [ ]:
f_df_duplicates.set_index('TRANSACTIONID', inplace=True)

In [ ]:
flights_df.update(f_df_duplicates)

In [ ]:
flights_df

In [ ]:
flights_df.reset_index()

In [ ]:
flights_df[flights_df["TRANSACTIONID"]==1974100]

In [ ]:
flights_df.drop_duplicates(subset=["ORIGAIRPORTNAME", "DESTAIRPORTNAME", "AIRLINECODE", "FLIGHTDATE", "CRSDEPTIME", "DEPTIME", "ARRTIME"], keep=False)

In [ ]:
states_df = flights_df.sort_values(by=['ORIGINSTATENAME'], ascending=True)
states_df = states_df['ORIGINSTATENAME'].unique()

states_df

In [ ]:
unique_states_inc_fakestate_df = flights_df.at[383019, 'ORIGINSTATENAME'] = 'Fakestate'
unique_states_inc_fakestate_df = flights_df.at[383019, 'ORIGINSTATENAME']

In [ ]:
unique_states_inc_fakestate_df
flights_df["ORIGINSTATENAME"].unique()

In [ ]:
cancelled_flights = flights_df["CANCELLED"].value_counts()
cancelled_flights

In [ ]:
cancelled_flights.replace(

In [ ]:
flights_df = pd.read_csv('flights.txt', sep='|')

In [ ]:
flights_df["FLIGHTDATE"]

In [ ]:
pd.to_datetime(flights_df["FLIGHTDATE"])

In [ ]:
date_format = "%Y%m%d"
pd.to_datetime(flights_df["FLIGHTDATE"], format=date_format)

In [ ]:
car_insurance_df = pd.read_csv('Car_Insurance.csv')
car_insurance_df

In [ ]:
car_insurance_df.info()

In [ ]:
null_counts = car_insurance_df.isnull().sum()
null_counts

In [ ]:
car_insurance_df.dropna(inplace=True)
car_insurance_df

In [ ]:
car_insurance_df.describe()

In [ ]:


car_insurance_df['Job'] = car_insurance_df['Job'].astype('category')
car_insurance_df['Job']

In [ ]:
# car_insurance_df['Job'].value_counts()

car_insurance_df['Job'].value_counts().idxmax()

In [ ]:
car_insurance_df['CallEnd'] = pd.to_datetime(car_insurance_df['CallEnd'], format="%H:%M:%S")

car_insurance_df['CallStart'] = pd.to_datetime(car_insurance_df['CallStart'], format="%H:%M:%S")

car_insurance_df['Call_duration'] = car_insurance_df['CallEnd'] - car_insurance_df['CallStart']

car_insurance_df['Call_duration'] = car_insurance_df['Call_duration'].dt.total_seconds()

car_insurance_df['Call_duration']

In [ ]:
car_insurance_df['Call_duration'].mean()

In [ ]:
selected_rows = car_insurance_df[car_insurance_df["LastContactMonth"].isin(["jan", "feb", "mar", "apr", "may", "jun"])]

selected_rows

In [ ]:
selected_rows["Communication"].mode()

## Missing Data

In [ ]:
!pip install missingno

In [ ]:
import missingno as msno

## Pandas - Concepts and Dataframe Operations

### Read YAML with pandas

In [ ]:
def transforms_yaml_file_to_pandas_dataframe():
    df = pd.read_yaml

### Fire Fighters versus Police Officers

In [ ]:
df = pd.read_csv('Salaries.csv')
df

In [ ]:
jobtitle_df = df[['JobTitle']]
jobtitle_df

In [ ]:
df_police = df['JobTitle'].str.contains("POLICE", True)

In [ ]:
df_fireman = df['JobTitle'].str.contains("FIRE", True)

In [ ]:
type(df_police)

In [ ]:
x = df_police.sum(axis = 0, skipna = True)

In [ ]:
y = df_fireman.sum(axis = 0, skipna = True)

In [ ]:
(y/x)

In [ ]:
df.loc[df['JobTitle'].str.contains("POLICE", True)]

In [ ]:
df.loc[df['JobTitle'].str.contains("FIRE", True)]

In [ ]:
# Ratio of fire fighters over police officers
238/139

In [ ]:
# Finding mean salary of police department

df['BasePay']

In [ ]:
# Finding mean salary of police department

police_jobs = df.loc[df['JobTitle'].str.contains("POLICE", True)]
police_salary = police_jobs[['BasePay']]
police_salary.describe()


# base_pay_df=df[['BasePay']]
# base_pay_df.describe()

# Could also use base_pay_df.mean() here

In [ ]:
police_salary.mean(axis=0, skipna=True)

In [ ]:
# Finding mean salary of fire department

fireman_jobs = df.loc[df['JobTitle'].str.contains("FIRE", True)]
fireman_salary = fireman_jobs[['BasePay']]
fireman_salary.describe()

In [ ]:
fireman_salary.mean(axis=0, skipna=True)

### DataFrame manipulation

In [ ]:
jobtitle_df.nunique(dropna=True)

In [ ]:
john_df = [['EmployeeName']]

In [ ]:
df['EmployeeName'].str.contains('JOHN').sum()

In [ ]:
df["Surname"] = df["EmployeeName"].apply(lambda x: x.split()[1])

In [ ]:
df.head()

In [ ]:
def get_first_name_from_full_name(name):
    return name.split()[0]

df['First name'] = df['EmployeeName'].apply(get_first_name_from_full_name)


#print(df['First name'])

# for name in df['First name']:
#     if len(name) < 6:
#         print(name)

df['Surname'] = df['EmployeeName'].apply(lambda name : name.split()[1])

df['First name'] = df['First name'].apply(lambda name : True if (len(name) > 6) else False)
df
# df

In [ ]:
surname_df = df.loc[df['First name']==True]
surname_df

### Using the lambda function

In [ ]:

def multiply(x):
    return x*2

multiply(2)

In [ ]:


multiply = lambda x : x*2
multiply(2)

In [ ]:
import datetime

df['last_updated'] = df['Id'].apply(lambda value : datetime.datetime.now().isoformat())
df

In [ ]:
df['time_ratio'] = df['OvertimePay']/df['BasePay']
df

In [ ]:
new_df = df[df['BasePay'] > 100000]
new_df

In [ ]:

new_df = df.loc[df['BasePay'] > 100000]
new_df

In [ ]:
new_df['Total pay w/o base salary'] = new_df['OvertimePay'] + new_df['OtherPay']
new_df

In [ ]:
# Find the surname of everyone whose first name is more than 6 characters long

df["Firstname"] = df["EmployeeName"].apply(lambda x: x.split()[0])

mask = df['Firstname'].apply(lambda name : (len(name) > 6))

df[mask]

In [ ]:
import numpy as np

In [ ]:
new_row = ({'EmployeeName' : 'Jane Doe', 
            'JobTitle' : 'CAPTAIN III (POLICE DEPARTMENT)', 
            'BasePay' : '215739.13', 
            'OvertimePay' : '295131.88', 
            'OtherPay' : '400300.25', 
            'Benefits' : np.NAN, 
            'TotalPay' : '911171.26', 
            'TotalPayBenefits' : '911171.26', 
            'Year' : '2011', 
            'Notes' : np.NAN, 
            'Agency' : 'San Francisco', 
            'Status' : np.NAN})

# df2 = new_df.append(pd.DataFrame([new_row], index=['3'], columns=df.columns))
df2

## Pandas dataframes - practicals

In [ ]:
pip install

In [ ]:
import yaml
import json
import pandas as pd

In [ ]:
with open('/Users/apple/Downloads/yaml_example.yaml', 'r') as file:
    configuration = yaml.safe_load(file)

In [ ]:
with open('file.json', 'w') as json_file:
    json.dump(configuration, json_file)

In [ ]:
from pandas import json_normalize

dict = json.loads('file.json')
json_normalize(dict['Person', 'Animals'])

df = pd.read_json('file.json', orient='index')

In [ ]:
df